body{

margin:0;

font-family:Arial;

background:#f4f4f4;

}

.page{

padding:20px;

padding-bottom:90px;

}

.card{

background:white;

padding:20px;

border-radius:16px;

margin-bottom:15px;

box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.primary{

width:100%;

padding:15px;

border:none;

background:#2563eb;

color:white;

border-radius:12px;

font-size:18px;

}

.bottomNav{

position:fixed;

bottom:0;

left:0;

right:0;

height:70px;

display:flex;

justify-content:space-around;

align-items:center;

background:white;

box-shadow:0 -3px 10px rgba(0,0,0,.08);

}

.bottomNav button{

border:none;

background:none;

font-size:28px;

}

.active{

transform:scale(1.2);

}
